body {
    min-width: 960px;
    
    font-family: "PT Sans Narrow", "Myriad Pro", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; 
    background: #000000 url("../img/index-background.jpg") no-repeat center top;
}

h1 {
    font-size: 30px;
    line-height: 42px;
}

h2 {
   font-size: 24px;
    line-height: 30px; 
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header-logo {
    float: left;
    width: 140px;
    background-color: rgba(36%, 78%, 68%, 0.3);
    margin-right: 20px;
}

.main-navigation {
    width: 780px;
    float:left;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
    
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
}

.main-navigation a{
    color: #ffffff;
    text-decoration: none;
    
    font-size: 16px;
    line-height: 20px;
    
    display: block;
    padding: 25px 20px;
}

.main-navigation a:hover {
    background-color: #242424;
}

nav.wide {
    width: 620px;
}

.user-block {
    max-width: 140px;
    float:right;
}

.user-block a{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    
    display: inline-block;
    vertical-align: top;
    padding: 25px 20px;
    padding-left: 50px;
    
    position: relative;
}

.user-block a::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    
    width:18px;
    height: 18px;
    
    background: transparent url("../img/spritesheet.png") no-repeat;
    background-position: -5px -5px;
    
}

.user-block a:hover {
    background-color: #242424;
}

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

.main-header {
    margin-bottom: 60px;
    
    background-color: #000000;
    
    color: #ffffff;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

section.features{
    margin-bottom: 80px;
}

.features .features-item {
    float:left;
    width:300px;
    margin-right:20px;
    
    text-align: center;
}

.features .features-item:nth-child(3n) {
    margin-right:0px;
}

.features-name {
    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
    
    font-size: 30px;
    line-height: 42px;
    position: relative;
}

.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    
    width: 20px;
    height: 20px;
    
    background-color: #ffffff;
    display: block;
    transform: rotate(45deg);
    
    
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.index-content {
    background: #f8f5f2 url("../img/pattern.png");
    
    color: #000000;
    
    padding: 50px 80px;
    margin-bottom: 35px;
}

.index-content-left {
    float:left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;
    
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    
    list-style: none;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: none;
}

.btn {
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    
    display: inline-block;
    padding: 10px 33px;  
    margin-right: 10px;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.gallery {
    position: relative;
    
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    
    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
    
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    
    width: 106px;
    padding: 7px 15px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn {
    clear: both;
    width: 100%;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

/* Стили для содержания страницы catalog*/

.container h1 {
    background-color:aqua;
    width: 700px;
}

.breadcrumbs {
    background-color: cadetblue;
    margin-top: 25px;
    margin-bottom: 55px;
    width: 640px;
}

aside {
    float: left;
    width: 220px;
    background-color:bisque;
    min-height: 530px;
}

ul.producers {
    margin-bottom: 50px;
}

.shop-items-menu {
    width: 700px;
    margin-left:220px;
    background-color: firebrick;
    min-height: 700px;
    padding-left:20px;
}

.catalog {
    width: 700px;
    background-color: chocolate;
    min-height: 595px;
}

.catalog article {
    height: 285px;
    background-color: chartreuse;
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-top: 20px;
}

.catalog article:nth-child(3n) {
    margin-right: 0px;
}

.pagination {
    background-color: darkmagenta;
    width: 220px;
    margin-top: 45px;
    height: 43px;
}

.pagination a {
    display:inline-block;
    height: 43px;
    margin-right: 7px;
    background-color:aquamarine;
}

/* Стили на страницы catalog-item*/
.item-content-left {
    float:left;
    background-color: fuchsia;
    width: 460px;
    margin-right: 80px;
}

.item-content-right {
    float: right;
    background-color: dodgerblue;
    width: 400px;
    padding-left: 10px;
    padding-top: 25px;
}

.current-photo {
    margin-bottom: 20px;
}

.item-preview-photos img {
    float: left;
    margin-right: 20px;
}

.item-preview-photos img:last-child {
    margin-right: 0px;
}

.item-availability b {
    display: block;
    float: left;
    width: 105px;
    min-height: 15px;
    background-color: beige;
}

.item-availability .item-article {
    width: 140px;
    float: right;
    background-color: darkturquoise;
    min-height: 12px;
}

.item-descriptrion {
    margin-top: 40px; 
    background-color: aquamarine;
    min-height: 130px;
    margin-bottom: 40px;
}

.item-purchase {
    background-color: darkseagreen;
    min-height: 43px;
}

.item-purchase .price {
    float: left;
    width: 109px;
    background-color: #e5e5e5;
    height: 43px;
}

.item-purchase .btn {
    float: left;
    width: 78px;
    height: 43px;
    background-color: black;
}

section.composition {
    background-color: floralwhite;
    margin-top: 67px;
}

/* Стили для подвала */
footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    
    background-color: #232323;
    color: #ffffff;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-contacts p{
    margin: 0;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;
    
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    
    background: #000000 url("../img/spritesheet.png") no-repeat center;
    
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
}


/*Доделать*/
.social-btn-vk {
    background-position: -20px -5px;
}

.social-btn-facebook {
    background-position: -20px -5px;
}

.social-btn-twitter {
    background-position: -20px -5px;
}

.social-btn:hover {
    background-color: #ffffff;
}

/*Доделать*/
.social-btn-vk:hover {
    background-position: -20px -5px;
}

.social-btn-facebook:hover {
    background-position: -20px -5px;
}

.social-btn-twitter:hover {
    background-position: -20px -5px;
}

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    
    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}

.footer-copyright .btn:hover {
    color: #000000;
    
    background-color: #ffffff;
}