body {
    font-family: "PTSans NarrowBold", "Myriad Pro", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    line-height: 42px;
}

h2 {
   font-size: 24px;
    line-height: 30px; 
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0px 10px;
}

header {
    background-color: rgba(0, 120, 201, 0.7); 
}

main {
    background-color: rgba(12, 15, 50, 0.8); 
}

.header-logo {
    float: left;
    width: 140px;
    background-color: rgba(36%, 78%, 68%, 0.3);
    margin-right: 20px;
}

.main-navigation {
    width: 780px;
    background-color: rgba(110, 10, 60, 0.3);
    float:left;
}

nav.wide {
    width: 620px;
}

.user-block {
    width: 140px;
    background-color: rgba(120, 110, 90, 0.4);
    float:right;
}

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

.main-header {
    margin-bottom: 60px;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

section.features{
    background-color: rgba(7, 77, 77, 0.4);
    margin-bottom: 80px;
}

.features .features-item {
    background-color: rgba(120, 6, 11, 0.3);
    float:left;
    width:300px;
    margin-right:20px;
}

.features .features-item:last-child {
    margin-right:0px;
}

.index-content {
    background-color: rgba(87, 10, 125, 0.3);
    padding: 50px 80px;
    margin-bottom: 35px;
}

.index-content-left {
    background-color: rgba(70%, 85%, 15%, 0.3);
    float:left;
    width: 380px;
}

.index-content-right {
    background-color: rgba(80%, 52%, 83%, 0.3);
    float: right;
    width: 300px;
    
}

/* Стили для содержания страницы catalog*/

.container h1 {
    background-color:aqua;
    width: 700px;
}

.breadcrumbs {
    background-color: cadetblue;
    margin-top: 25px;
    margin-bottom: 55px;
    width: 640px;
}

aside {
    float: left;
    width: 220px;
    background-color:bisque;
    min-height: 530px;
}

ul.producers {
    margin-bottom: 50px;
}

.shop-items-menu {
    width: 700px;
    margin-left:220px;
    background-color: firebrick;
    min-height: 700px;
    padding-left:20px;
}

.catalog {
    width: 700px;
    background-color: chocolate;
    min-height: 595px;
}

.catalog article {
    min-height: 285px;
    background-color: chartreuse;
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-top: 20px;
}

.catalog article:nth-child(3n) {
    margin-right: 0px;
}

.pagination {
    background-color: darkmagenta;
    width: 220px;
    margin-top: 45px;
    height: 43px;
}

.pagination a {
    display:inline-block;
    width: 43px;
    height: 43px;
    margin-right: 7px;
    background-color:aquamarine;
}

/* Стили на страницы catalog-item*/
.item-content-left {
    float:left;
    background-color: fuchsia;
    width: 460px;
    margin-right: 80px;
}

.item-content-right {
    float: right;
    background-color: dodgerblue;
    width: 400px;
    padding-left: 10px;
    padding-top: 25px;
}

.current-photo {
    margin-bottom: 20px;
}

.item-preview-photos img {
    float: left;
    margin-right: 20px;
}

.item-preview-photos img:last-child {
    margin-right: 0px;
}

.item-availability b {
    display: block;
    float: left;
    width: 105px;
    min-height: 15px;
    background-color: beige;
}

.item-availability .item-article {
    width: 140px;
    float: right;
    background-color: darkturquoise;
    min-height: 12px;
}

.item-descriptrion {
    margin-top: 40px; 
    background-color: aquamarine;
    min-height: 130px;
    margin-bottom: 40px;
}

.item-purchase {
    background-color: darkseagreen;
    min-height: 43px;
}

.item-purchase .price {
    float: left;
    width: 109px;
    background-color: #e5e5e5;
    height: 43px;
}

.item-purchase .btn {
    float: left;
    width: 78px;
    height: 43px;
    background-color: black;
}

section.composition {
    background-color: floralwhite;
    margin-top: 67px;
}

/* Стили для подвала */
footer {
    background-color: rgba(10, 120, 6, 0.3);
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
    min-height: 80px;
    background-color: azure;
}

.footer-social {
    float: left;
    width: 180px;
    min-height: 80px;
    background-color: forestgreen;
}

.footer-copyright {
    float: right;
    width: 160px;
    min-height: 80px;
    background-color: darkturquoise;
}